@media (max-width: 1600px) {
    .screen2 {
        padding: 50px 0 50px 0;
        &__wrap {
            width: 40%;
            margin-left: 60%;
        }
        
    }
}
@media (max-width: 1400px) {
    .promo {
        &__info {
            margin-left: 45%;
        }   
    }
    .screen2 {

    }
}
@media (max-width: 1200px) {
    .header {
        
    }
    .promo {
        min-height: 700px;
        padding: 50px 0 50px 0;
        &__info {
            width: 50%;
            display: block;
            margin-left: 35%;
        }
        &__title {
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 90px;
            font-weight: 700;
            line-height: 108.56px;
            text-transform: uppercase;
        }
        &__text {
            margin-top: 40px;
            margin-bottom: 58px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.45px;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        min-height: 600px;
        &__info {
            width: 80%;
            display: block;
            margin: 0 auto;
        }   
        &__title {
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 70px;
            font-weight: 700;
            line-height: 80px;
            text-transform: uppercase;
            text-align: center;
        }
        &__text {
            margin-top: 40px;
            margin-bottom: 58px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.45px;
            text-align: center;
        }
        .button {
            display: block;
            margin: 0 auto;
        }
    }
}