.button {
    width: 214px;
    height: 67px;
    background-color: #f56131;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    border: none;
}