.header {
    height: 109px;
    background-color: #ffffff;

    &__wrapper {
        display: flex;  
        justify-content: space-between;
        
    }
    &__social {
        display: flex;
        justify-content: space-between;
        margin: 51px 0 39px 0;
        &-item {
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
        }
        a {
            color: #171717;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -1px;
            &:hover {
                text-decoration: none;
            }
        }    
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        margin: 55px 0 42px 0;
        &-item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0px;
            }
        }       
        a {
            color: #1a1a1a;
            font-family: Lato;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.24px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__logo {       
        &-wrap {
            display: inline-block; 
            margin-top: 41px;
            margin-bottom: 29px;
            left: 59px;     
        }
        &-round {     
            display: inline;
            margin-top: 30px;
            float: left;
            width: 54px;
            height: 53px; 
        }
        &-title {
            color: #1a1a1a;
            font-size: 31px;
            font-weight: 700;
            line-height: 27px;
            text-transform: uppercase;
        }
        &-subtitle {
            margin-top: 5px;
            margin-left: 10px;
            color: #1a1a1a;
            font-size: 11px;
            font-weight: 700;
            line-height: 9.33px;
            text-transform: uppercase;
        }
    }
}
