.promo {
    min-height: 1014px;
    padding: 207px 0 227px 0;
    background: url('../../img/promo.png') center (center / cover) no-repeat;
    &__info {
        width: 652px;
        display: block;
        margin-left: 50%;
    }
    &__title {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 129px;
        font-weight: 700;
        line-height: 108.56px;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 40px;
        margin-bottom: 58px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.45px;
    }
}