.screen3 {
    position: relative;
    min-height: 822px;
    padding: 157px 0 215px 0;
    &__back {
        position: absolute;
        top: 93px;
        right: 0;
        width: 66%;
        height: 312px;
        background-color:#ee5d30;
        z-index: -1;
    }
    &__header {
        position: absolute;
        display: block;
        width: 304px;
        top: 247px;
    }
    &__title {
        color: #333333;
        font-family: "Montserrat";
        font-size: 51px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 54px;
    }

    &__weare {
        float: right;
        display: flex;
        &-item {
            display: flex;
            flex-direction: column;
            //margin-left: 10px;
            margin-right: 96px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-round {
            width: 104px;
            height: 104px;
            background-color: #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 41px;
        }
        &-title {
            color: #fff;
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.6px;
            margin-bottom: 89px;
        }
        &-text {
            width: 236px;
            color: #333333;
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.45px;
            line-height: 30px;
        }
    }
}