.screen2 {  
    position: relative;
    min-height: 822px;
    &__fon {
        position: absolute;
        height: 100%; 
        width:100%;
        left:0;
        background-color: #2f2339;
        z-index: -1;
    }
    &__wrap {
        display: block;
        width: 560px;
        float: right;
        margin-top: 156px;
        z-index: -2;
    }
    &__img {
        max-width: 50%;
        display: block;
        left: 0px;
        top: 0px;
        z-index: 20;
        img {
            width: 100%;
            height: 822px;
        }
    }
    &__title {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 51px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 52px;
        margin-bottom: 68px;
        color: #bfbfbf;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.45px;
    }
    
}