.screen4 {
    position: relative;
    max-height: 822px;
    padding: 97px 0 130px 0;
    &__back {
        position: absolute;
        top: 0;
        width: 66%;
        height: 100%;
        background-color: #2f2339;
        z-index: -1;
    }
    &__wrap {
        display: inline-block;
    }
    &__title {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 51px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 107px;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__descr {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 95px;
    }
    &__text {
        //border: 1px solid red;
        max-width: 680px;
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 309px;
            &:nth-child(1) {
                margin-right: 60px;
            }
            &:nth-child(3) {
                margin-right: 60px;
            }
        }
    }
    img {
        display: inline-block;
        float: right;
        width: 533px;
        height: 640px;
    }
}