.screen4 {
    min-height: 822px;
    &__title {
        color: #000;
        font-family: "Montserrat";
        font-size: 51px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 30px;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 18px;
        font-weight: 400;
    }
}