.screen5 {
    min-height: 823px;
    padding: 224px 0 185px 0;
    &__wrap {
        position: absolute; 
        width:100%;
        left:0;
    }
    &__line {
        width: 100%;
        height: 414px;
        background-color: #ee5d30;
    }
    &__watch {
        position: absolute; 
        top: -89px;
        left: 50%;
        transform: translateX(-50%);
        width: 328px;
        height: 591px;
    }
    &__title {
        display: block;
        position: absolute;
        margin-top: 159px;
        left: 20%;
        color: #fff;
        font-family: "Montserrat";
        font-size: 51px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
    }
}